{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": ["html", "import"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "import/order": [
      "error",
      {
        "groups": [],
        "pathGroups": [],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        },
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "rules": { "@typescript-eslint/no-explicit-any": "off" }
    }
  ]
}
